[auth_provider.discord]
auth_uri = "https://discord.com/api/oauth2/authorize?response_type=code"
token_uri = "https://discord.com/api/oauth2/token"
redirect_uri = "http://127.0.0.1:3000/auth/authorized"
user_uri = "https://discordapp.com/api/users/@me"
id_field = "id"
display_name_field = "username"
scopes = ["identify"]
client_id = "YOUR_DISCORD_CLIENT_ID"
client_secret = "YOUR_DISCORD_CLIENT_SECRET"

[auth_provider.github]
auth_uri = "https://github.com/login/oauth/authorize"
token_uri = "https://github.com/login/oauth/access_token"
redirect_uri = "http://127.0.0.1:3000/auth/authorized"
user_uri = "https://api.github.com/user"
id_field = "id"
display_name_field = "login"
scopes = ["read:user"]
client_id = "YOUR_GITHUB_CLIENT_ID"
client_secret = "YOUR_GITHUB_CLIENT_SECRET"

[auth_provider.google]
auth_uri = "https://accounts.google.com/o/oauth2/v2/auth"
token_uri = "https://oauth2.googleapis.com/token"
redirect_uri = "http://127.0.0.1:3000/auth/authorized"
user_uri = "https://www.googleapis.com/oauth2/v3/userinfo"
id_field = "sub"
display_name_field = "name"
scopes = ["openid", "profile"]
client_id = "YOUR_GOOGLE_CLIENT_ID"
client_secret = "YOUR_GOOGLE_CLIENT_SECRET"

[auth_provider.microsoft]
auth_uri = "https://login.microsoftonline.com/common/oauth2/v2.0/authorize"
token_uri = "https://login.microsoftonline.com/common/oauth2/v2.0/token"
redirect_uri = "http://127.0.0.1:3000/auth/authorized"
user_uri = "https://graph.microsoft.com/v1.0/me"
id_field = "id"
display_name_field = "displayName"
scopes = ["openid", "profile", "User.Read"]
client_id = "YOUR_MICROSOFT_CLIENT_ID"
client_secret = "YOUR_MICROSOFT_CLIENT_SECRET"

# Optional: credentials for the webcam proxy (only needed if webcam.url is set in config.toml)
# [webcam]
# username = "YOUR_WEBCAM_USERNAME"
# password = "YOUR_WEBCAM_PASSWORD"
