header * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #02344a;
    --primary-color-light: #25617a;
    --secondary-color: #ffffff;
    --gray100: #f0f5f7;
    --gray300: #d6e1e5;
    --gray900: #1a1d1f;
    --main-text-color: var(--gray900);
    --main-link-color: var(--primary-color);
    --main-bg-color: var(--gray100);
}

body {
    font-family: 'Roboto flex', sans-serif;
    font-size: 16px;
    background-color: var(--gray900);
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 140%;
    margin-top: 0;
}

h2 {
    font-size: 130%;
}

h3 {
    font-size: 120%;
    margin-top: 0;
}

#page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

}

/* Desktop styles */
@media only screen and (min-width: 961px) {
    #page {
        margin: 0 auto;
    }
}

.section {
    padding: 30px;
    flex-grow: 1;
}
.section.light {
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}
.section.dark {
    color: var(--secondary-color);
    background-color: var(--gray900);
}
.section a {
    color: var(--main-link-color);
    text-decoration: none;
}
.section a:hover {
    text-decoration: underline;
}

.welcome {
    text-align: center;
    padding-top: 150px;
}
.welcome h1 {
    font-size: 300%;
    letter-spacing: -0.7px;
    margin-bottom: 30px;
}
.welcome p {
    font-size: 140%;
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}

header {
    color: var(--gray100);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80px;
}

#logo {
    color: var(--secondary-color);
    font-size: 36px;
    font-family: 'Audiowide', cursive;
    margin: 0 20px;
    display: flex;
    align-items:center;
    justify-content:center;
}

#logo a {
    color: inherit;
    text-decoration: none;
}

nav menu {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    justify-content: center;
    font-weight: 400;
}

nav menu li {
    flex-grow: 1;
    height: 100%;
}

nav menu li:hover {
    background-color: var(--primary-color-light);
}

nav menu li * {
    padding: 0px 20px;
    color: inherit;
    font-size: 16px;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login {
    margin: 0 20px;
}

footer {
    /* TODO: Need less contrast here */
    color: var(--gray300);
    padding: 20px;
    text-align: center;
    font-size: 90%;
}

.telescope-receiver {
    border: 1px solid black;
    margin: 4px;
    width: 100%;
    height: 100%;
}

.telescope-target-control {
    border: 1px solid black;
    margin: 4px;
    width: 100%;
}

.notification-area {
    padding: 10px;
    margin-bottom: 30px;
    display: none;
    border: 1px solid;
}

.notification-area.success {
    border-color: #66BB6A;
    background-color: #E8F5E9;
    display: block;
}

.notification-area.error {
    border-color: #E57373;
    background-color: #FFEBEE;
    display: block;
}

a.action:link,
a.action:visited {
    color: #ce54c4;
}
